{% extends 'blog/base.html' %}
{% block content %}
<div class='column main'>
	<div class='sort'><a href="{% url 'blog-home' %}"><small>Go home</small></a></div>
	<div class='content'>	
		<div>
	
		
		<p style="font-size: 16px; font-weight: bold">The blog is meant for lovers of paintings, and those interested in stories related to them. <br> Each text should be linked to a picture. <br>The blog is open and anyone who registers can post and comment. <br>When creating an article, use ENTER for a new paragraph. <br>Enjoy!</p>
		
		</div>

	</div>

</div>

          
{% endblock content %}