{% extends 'blog/base.html' %}
{% block content %}
<div class='column main'>
	<div class='sort'><a href="{% url 'blog-home' %}"><small>It's OK. Go to homepage</small></a></div>
	<div class='content'>	
		<div>
			{% if comment.author == user %}
			<p class='read'><a href="{% url 'comment-update' comment_id=comment.id %}">Say it differently</a> | <a href="{% url 'comment-delete' comment_id=comment.id %}">Erase comment</a></p>
			{% endif %}
		
		<p>{{ comment.content }}</p>
		
		</div>

	</div>

</div>

          
{% endblock content %}